.formulario{
    position: absolute;
    width: 50%;
    height: 50%;

    background: #D9D9D9;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 28;
    font-size: 20px;
    line-height: 29px;
    color: #006EB4;

    padding: 10px;
    margin: 50px auto;
    max-width: 500px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
  
    
}


.confirmButton{
    
    width: 160px;
    height: 50px;
    
    background: #0069A3;
    border: #ffffff;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 28;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;

    display: flex;
    justify-content: center;
    

    margin: auto;
    
}

.container{
    display: flex;                  
  align-items: center;
  flex-direction: column; /* Añadido para solución */
    
}

.titulo{
    justify-content: center;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 28;
    font-size: 24px;
    line-height: 29px;
    color: #0e0e0f;
}

.remember{
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 28;
    font-size: 20px;
    line-height: 29px;
    color: #0f1215;
    left: 80%;
    top: 80%;
    margin-top: 100px;
}

.input{
    
    width: 95%;
    height: 40px;
    
    
    background: #FCFBFB;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 30px;

    
}

.interior{
    margin-left: 20px;
    display: flexbox;
    align-items: center;
    margin-top: 30px;

}

.correo{
    margin-top: 10px;
}

