.header {
    width: 100%; 
    height: 80px;
    background-color: #FFD400;
    border: 1px solid black; /* para centrar */
    top:2px;
    position:absolute;
    left:0;
    }
    
    .Logo{
    height: 75px;
    width: 150px;
    position: absolute;
    left: 5px;
    top: 5px;
    }


    .infoFooter{
        position: absolute;
        width: 100%;
        height: 282px;
        top: 600px;
        left: 0px;
    }

    .container{
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        height: 100vh;
    }